
body {
  display: flex;
  flex-direction: column; 
  height: 100vh; 
  margin: 0;
  padding: 0;
  overflow: hidden;
}


header {
  width: 100vw;
  height: 20vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3vh solid #111;
}


.main-container {
  display: flex; 
  height: 80vh; 
  width: 100vw; 
}


app-options {
  width: 20vw; 
  height: 80vh;
  box-sizing: border-box;
}

router-outlet {
  width: 80vw;
  height: 80vh; 
  box-sizing: border-box;
  overflow-y: hidden; 
}
