<body>
    <div class="header">
        <app-header></app-header>
    </div>
<div class="opciones">
<section class="container">
<button (click)="showComponent('caja')" data-hover= "Click me"><h2>Caja</h2></button>
<button data-hover= "Click me"><h2>Venta</h2></button>
<button data-hover= "Click me"><h2>Compra</h2></button>
<button (click)="showComponent('clientes')" data-hover= "Click me"><h2>Clientes</h2></button>
<button data-hover= "Click me"><h2>Proveedores</h2></button>
<button data-hover= "Click me"><h2>Opciones</h2></button>
<button data-hover= "Click me"><h2>Salir</h2></button>
</section>
</div>
<div *ngIf="activeComponent === 'caja'" class="componentes">
    <app-caja></app-caja>
</div>
<div *ngIf="activeComponent === 'clientes'" class="componentes">
    <app-clientes></app-clientes>
</div>

</body>