<body>
    
<div class="opciones">
<section class="container">
<button data-hover= "Click me"><h2>Caja</h2></button>
<button data-hover= "Click me"><h2>Venta</h2></button>
<button data-hover= "Click me"><h2>Compra</h2></button>
<button data-hover= "Click me"><h2>Clientes</h2></button>
<button data-hover= "Click me"><h2>Proveedores</h2></button>
<button data-hover= "Click me"><h2>Opciones</h2></button>
<button data-hover= "Click me"><h2>Salir</h2></button>
</section>
</div>
<div class="caja">
    <app-caja></app-caja>
</div>
</body>