<body>
    <nav class="opciones">
        <section class="container">
          <button routerLink="/caja" routerLinkActive="active" data-hover="Click me"><h2>Caja</h2></button>
          <button routerLink="venta" routerLinkActive="active" data-hover="Click me"><h2>Venta</h2></button>
          <button routerLink="clientes" routerLinkActive="active" data-hover="Click me"><h2>Clientes</h2></button>
          <button routerLink="proveedores" routerLinkActive="active" data-hover="Click me"><h2>Proveedores</h2></button>
          <button routerLink="productos" routerLinkActive="active" data-hover="Click me"><h2>Productos</h2></button>
          <button (click)="logout()" data-hover="Click me"><h2>Salir</h2></button>
        </section>
      </nav>
</body>